{% extends 'base.html' %}

{% block title_block %} Profile {% endblock %}

{% block body_block %}
<h2>Your Profile</h2>
{% if user.user_profile %}
<img class="img-thumbnail rounded float-left" src="/media/{{user.user_profile.profile_pics}}" alt="image" width="150px">
<br>
<a href="{% url 'LogInApp:change_profile_pic' %}" class="btn btn-info btn-sm">Change Profile Picture</a>
{% else %}
<img class="img-thumbnail rounded float-left" src="/media/profile_pics/avatar.jpg" alt="pics" width="150px"> <br>
<a href="{% url 'LogInApp:add_profile_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
{% endif %}
<br>
<div class="container">
    <p>Username: {{user.username}}</p>
    <p>Name:{{user.first_name}} {{user.last_name}}</p>
    <p>Email:{{user.email}}</p>
</div>
<br>
<p>Update Profile Information: <a href="{% url 'LogInApp:change_profile' %}" class="btn btn-warning btn-sm">Update Profile</a></p>
{% endblock %}